@font-face {
  font-family: "Actay";
  src: url("../fonts/Actay-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Actay";
  src: url("../fonts/Actay-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Actay Condensed";
  src: url("../fonts/ActayCondensed-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Actay Condensed";
  src: url("../fonts/ActayCondensed-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Actay Wide";
  src: url("../fonts/ActayWide-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Actay Wide";
  src: url("../fonts/ActayWide-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Neutral Face";
  src: url("../fonts/NeutralFace.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neutral Face";
  src: url("../fonts/NeutralFace-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}